<configuration>
    <appender name="gelf" class="biz.paluch.logging.gelf.logback.GelfLogbackAppender">
        <host>udp:localhost</host>
        <port>12201</port>
        <version>1.1</version>
        <facility>logstash-gelf</facility>
        <extractStackTrace>true</extractStackTrace>
        <filterStackTrace>true</filterStackTrace>
        <!-- <mdcProfiling>true</mdcProfiling>-->
        <timestampPattern>yyyy-MM-dd HH:mm:ss,SSSS</timestampPattern>
        <maximumMessageSize>8192</maximumMessageSize>

        <!-- This are static fields -->
        <additionalFields>applicationName=db4all</additionalFields>
        <!-- Optional: Specify field types -->
        <additionalFieldTypes>applicationName=String</additionalFieldTypes>

        <!-- This are fields using MDC -->
        <!--<mdcFields>mdcField1,mdcField2</mdcFields>
        <dynamicMdcFields>mdc.*,(mdc|MDC)fields</dynamicMdcFields>
        <includeFullMdc>true</includeFullMdc>-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <logger name="log4j.category.org.springframework.web" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="gelf" />
    </root>
</configuration>