<div ui-view>
  <navbar/>
</div>

<script type="text/ng-template" id="delete.html">
  <div class="modal-header">
    <h3 class="modal-title">Supprimer le projet ?</h3>
  </div>
  <div class="modal-body">
    <p>Êtes-vous sûr de vouloir supprimer le projet {{delete.projectName}} ?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="delete.ok()">OK</button>
    <button class="btn btn-default" type="button" ng-click="delete.cancel()">Cancel</button>
  </div>
</script>

<div class="container-fluid page-container" style="padding-top:20px;">

  <div class="row" style="margin-bottom:20px;">
    <form ng-submit="project.loadAllProjects()">
      <div class="col-md-12">

        <div class="input-group" >
          <span class="input-group-addon" id="catalog-filter"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
          <input ng-model="project.sourceFilter" type="text" class="form-control" placeholder="Filtrer" aria-describedby="view-filter">
        </div>
      </div>
    </form>
  </div>

  <div class="row">

    <div class="col-md-3">

      <div class="panel panel-default" >
        <div class="panel-body" style="height:378px; overflow: hidden;">
          <a ng-click="project.createNewProject()" ><img style="display:block;margin-left:auto;margin-right:auto;margin-top:80px;cursor: pointer;" src="../../assets/images/plus-outline-gray.png"/></a>
        </div>

      </div>
    </div>

    <div class="col-md-3" ng-repeat="p in project.projectList">

      <project-card item="p">
        <a ng-click="project.deleteProject(p.id)" class="btn btn-danger btn-sm pull-right" style="margin-left:5px;" aria-label="Left Align">
          <span class="glyphicon glyphicon-remove"></span> Supprimer
        </a>
        <a ng-click="project.editProject(p.id)" class="btn btn-default btn-sm pull-right" style="margin-left:5px;" aria-label="Left Align" ng-disabled="p.editLoading">
          <span ng-show="!p.editLoading" class="glyphicon glyphicon-pencil"></span><span ng-show="p.editLoading" class="fa fa-spinner fa-spin" style="color: inherit;font-size: 15px;"></span> Editer
        </a>
        <a ng-click="project.viewProject(p.id)" class="btn btn-default btn-sm pull-right" style="margin-left:5px;" aria-label="Left Align" ng-disabled="p.viewLoading">
          <span ng-show="!p.viewLoading" class="glyphicon glyphicon-eye-open"></span><span ng-show="p.viewLoading" class="fa fa-spinner fa-spin" style="color: inherit;font-size: 15px;"></span> Consulter
        </a>
      </project-card>

    </div>


  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <ul uib-pagination
            items-per-page="project.itemsPerPage"
            total-items="project.pageResult.totalElements"
            ng-model="project.currentPage"
            ng-change="project.loadAllProjects()"
            first-text="Début"
            previous-text="Précédent"
            last-text="Find"
            next-text="Suivant"></ul>
      </div>
    </div>
  </div>


  <!-- END : main-container -->

</div>
