.entity-card-header {
  height:47px;
}

.entity-card-header-blue {
  background-image: url("../../assets/images/back-blue.jpg");
  background-size:cover;
}

.entity-card-header-orange {
  background-image: url("../../assets/images/back-orange.jpg");
  background-size:cover;
}

.entity-card-header-green {
  background-image: url("../../assets/images/back-green.jpg");
  background-size:cover;
}

.entity-card-header-gray {
  background-image: url("../../assets/images/back-gray.jpg");
  background-size:cover;
}

.entity-card-title {
  font-size:26px;
  font-weight: 200;
}

.entity-card-body {
  height:290px;
  overflow: hidden;
}

.entity-card-footer {
  display: table;
  width: 100%;
  height: 41px;
  padding: 5px 5px;
}
