<div ui-view>
  <navbar/>
</div>

<div class="container-fluid" style="padding-top:20px;">

  <div id="modal-link">

  </div>

  <alerts-popup alerts="entityData.alerts"></alerts-popup>

  <div class="row fill-height-substract" ng-show="false">
      <div class="col-sm-12">
          <div  class="alert alert-warning" role="alert">
              <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
              Cette table est en lecture seul. Pour pouvoir l'éditer, click sur le boutton:
              <button type="button" class="btn btn-default btn-xs">
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edition
              </button>
          </div>
      </div>
  </div>

  <div class="row fill-height-substract">

    <div class="col-sm-9">
      <ol class="breadcrumb">
        <li><a ui-sref="project"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
        <li><a ui-sref="entity({projectId: entityData.projectId})">{{entityData.project.name}}</a></li>
        <li class="active"><a>{{entityData.entity.name}}</a></li>
      </ol>
    </div>
    <div class="col-sm-3">

      <div class="form-group" style="height:34px;"> <!-- fix height because pull-right doesn't allow to auto-calculate -->
        <a type="button" class="btn btn-primary pull-right" style="margin-left:5px;" ng-click="entityData.save()" ng-disabled="entityData.saving">
          <span ng-show="entityData.saving" class="fa fa-spinner fa-spin" style="color: inherit;"></span><span ng-show="!entityData.saving" class="glyphicon glyphicon-save"></span> Sauvegarder
        </a>
        <a ng-click="entityData.editEntity()" class="btn btn-primary pull-right" style="margin-left:5px;" aria-label="Left Align" ng-disabled="entityData.editLoading">
          <span ng-show="!entityData.editLoading" class="glyphicon glyphicon-wrench"></span><span ng-show="entityData.editLoading" class="fa fa-spinner fa-spin" style="color: inherit;font-size: 15px;"></span> Configurer
        </a>
      </div>

    </div>
  </div>

  <div class="row fill-height-substract">
    <div class="col-sm-12">
      <query-builder-filter
              data="entityData.data"
              filtered-data="entityData.filteredData"
              current-filter="entityData.entity.lastFilter"
              all-filters="entityData.entity.filters"
              fields="entityData.entity.fields"
              can-save="true"
              on-save="entityData.onSaveFilter"
              on-delete="entityData.onDeleteFilter"
              apply-filter="entityData.applyFilter">

      </query-builder-filter>
    </div>
  </div>

  <div class="row fill-height-substract" ng-show="entityData.applyFilter">
    <div class="col-sm-12">
      <div class="alert alert-info" role="alert">Table filtrée</div>
    </div>
  </div>

  <div class="row fill-height-substract">
    <div class="col-sm-12">
      <pre><b>Sélection:</b> {{entityData.currentColumn}}</pre>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-12">
      <handson-table
              id="entity-handsontable"
              data="entityData.filteredData"
              settings="entityData.settings"
              fill-height="fill-height-substract">
      </handson-table>
    </div>
  </div>


  <!-- END : main-container -->


</div>
